@model SmellIt.Application.Features.Brands.Commands.EditBrand.EditBrandCommand

@{
    ViewData["Title"] =WebsiteTexts.GetValue("EditBrand");
}
<div class="card-content">
    <div class="row">
        <div class="card-title col s12">
            <a class="btn left" asp-controller="Brands" asp-action="Index"> <i class="material-icons">arrow_back_ios_new</i></a>
            <p class="right">@WebsiteTexts.GetValue("EditBrand") @Model.Name</p>
        </div>
        <form asp-action="Edit">
            @await Html.PartialAsync("PartialViews/Forms/_BrandForm", Model)
        </form>
    </div>
</div>

@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}