@model SmellIt.Application.Features.WebsiteTexts.Commands.CreateWebsiteText.CreateWebsiteTextCommand
@{
    ViewData["Title"] = language.GetValue("AddNewWebsiteText");
}
<script src="~/lib/tinymce/tinymce.js"></script>
<script>
    tinymce.init({
        selector: 'textarea#default',
        skin: "oxide-dark"
    });
</script>
<div class="card-content">
    <div class="row">
        <div class="card-title col s12">
            <a class="btn left" asp-controller="WebsiteTexts" asp-action="Index"> <i class="material-icons">arrow_back_ios_new</i></a>
            <p class="right">@language.GetValue("AddNewWebsiteText")</p>
        </div>
        <form asp-action="Create">
            <div class="input-field col s12">
                <label asp-for="Key">@language.GetValue("Key")</label>
                <textarea class="materialize-textarea" asp-for="Key"></textarea>
                <span asp-validation-for="Key" class="helper-text"></span>
            </div>
            @await Html.PartialAsync("PartialViews/Forms/_WebsiteTextForm", Model)
        </form>
    </div>
</div>
@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}