@model IEnumerable<SmellIt.Application.SmellIt.FragranceCategories.WebsiteFragranceCategoryDto>
@{
    var fragranceCategories = Model.OrderBy(m => m.Name).Select(m => new { Name = m.Name, EncodedName = m.EncodedName });

    var queryString = Context.Request.Query;

    var routeValues = new Dictionary<string, string>();
    foreach (var key in queryString.Keys)
    {
        if (key != "fragranceCategory")
        {
            routeValues[key] = queryString[key];
        }
    }
}
<li><a asp-all-route-data="routeValues">@WebsiteTexts.GetValue("All")</a></li>
@foreach (var fragranceCategory in fragranceCategories)
{
    routeValues["fragranceCategory"] = fragranceCategory.EncodedName;
    if (queryString.ContainsKey("fragranceCategory") && queryString["fragranceCategory"] == fragranceCategory.EncodedName)
    {
        <li><strong><a asp-all-route-data="routeValues">@fragranceCategory.Name</a></strong></li>
    }
    else
    {
        <li><a asp-all-route-data="routeValues">@fragranceCategory.Name</a></li>
    }
}