@model IEnumerable<SmellIt.Application.SmellIt.FragranceCategories.FragranceCategoryDto>
@{
    var requestCulture = Context.Request.HttpContext.Features.Get<IRequestCultureFeature>()!;
    var currentCulture = requestCulture.RequestCulture.Culture.ToString();
    var fragranceCategories = currentCulture == "pl-PL"
        ? Model.OrderBy(m => m.NamePl).Select(m => new { Name = m.NamePl, EncodedName = m.EncodedName })
        : Model.OrderBy(m => m.NameEn).Select(m => new { Name = m.NameEn, EncodedName = m.EncodedName });

    var queryString = Context.Request.Query;

    var routeValues = new Dictionary<string, string>();
    foreach (var key in queryString.Keys)
    {
        if (key != "fragranceCategory")
        {
            routeValues[key] = queryString[key];
        }
    }
}
<li><a asp-all-route-data="routeValues">@WebsiteTexts.GetValue("All")</a></li>
@foreach (var fragranceCategory in fragranceCategories)
{
    routeValues["fragranceCategory"] = fragranceCategory.EncodedName;
    if (queryString.ContainsKey("fragranceCategory") && queryString["fragranceCategory"] == fragranceCategory.EncodedName)
    {
        <li><strong><a asp-all-route-data="routeValues">@fragranceCategory.Name</a></strong></li>
    }
    else
    {
        <li><a asp-all-route-data="routeValues">@fragranceCategory.Name</a></li>
    }
}