<footer class="footer section text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul class="social-media">
                    @await Component.InvokeAsync("SocialSites")
                </ul>
                <ul class="footer-menu text-uppercase">
                    <li>
                        <a href="@Url.Action("Contact", "Home")">@await WebsiteTexts.GetValueAsync("Contact")</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index", "Products")">@await WebsiteTexts.GetValueAsync("Products")</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Privacy", "Home")">@await WebsiteTexts.GetValueAsync("PrivacyPolicy")</a>
                    </li>
                </ul>
                <p class="copyright-text">Copyright &copy;2023, Designed by <a href="https://themefisher.com/">Themefisher</a> &amp; Developed by <a href="https://www.linkedin.com/in/jakubjarzmik">Jakub Jarzmik</a></p>
            </div>
        </div>
    </div>
</footer>