<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="Smell it Perfumery">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0">
<meta name="author" content="Jakub Jarzmik">
<meta name="generator" content="Jakub Jarzmik Smell it v1.0">

<title>@ViewData["Title"] - Smell it</title>

<link rel="shortcut icon" type="image/x-icon" href="~/images/favicon.png" />
<link rel="stylesheet" href="~/plugins/themefisher-font/style.css">
<link rel="stylesheet" href="~/plugins/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="~/plugins/animate/animate.css">
<link rel="stylesheet" href="~/plugins/slick/slick.css">
<link rel="stylesheet" href="~/plugins/slick/slick-theme.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.5.0/css/flag-icon.min.css" type="text/css">
<link rel="stylesheet" href="~/css/style.css">