<section class="call-to-action bg-gray section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="title">
                    <h2>@await WebsiteTexts.GetValueAsync("SubscribeToNewsletter")</h2>
                    <p>@await WebsiteTexts.GetValueAsync("SubscribeToNewsletterDesc")</p>
                </div>
                <div class="col-lg-6 col-md-offset-3">
                    <div class="input-group subscription-form">
                        <input type="text" class="form-control" placeholder="@await WebsiteTexts.GetValueAsync("EnterYourEmail")">
                        <span class="input-group-btn">
                            <button class="btn btn-main" type="button">@await WebsiteTexts.GetValueAsync("SubscribeNow")</button>
                        </span>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>