@model SmellIt.Application.Features.SocialSites.DTOs.SocialSiteDto

<div class="input-field col s12">
    <label asp-for="Link">Link</label>
    <textarea class="materialize-textarea" asp-for="Link"></textarea>
    <span asp-validation-for="Link" class="helper-text"></span>
</div>
                            
<input type="submit" value="@WebsiteTexts.GetValue("Save")" class="btn right" />submit" value="@WebsiteTexts.GetValue("Save")" class="btn right" />