@model SmellIt.Application.Features.SocialSites.Commands.CreateSocialSite.CreateSocialSiteCommand
@{
    ViewData["Title"] =WebsiteTexts.GetValue("AddNewSocialSite");
}
<div class="card-content">
    <div class="row">
        <div class="card-title col s12">
            <a class="btn left" asp-controller="SocialSites" asp-action="Index"> <i class="material-icons">arrow_back_ios_new</i></a>
            <p class="right">@WebsiteTexts.GetValue("AddNewSocialSite")</p>
        </div>
        <form asp-action="Create">
            <div class="input-field col s12">
                <label asp-for="Type">Typ</label>
            </div>
            <div class="input-field col s12">
                <select id="types" asp-for="Type">
                    <option value="@null" selected disabled></option>
                    @foreach (var type in ViewBag.SocialTypes)
                    {
                        <option value="@type">@type</option>
                    }
                </select>
            </div>
            @await Html.PartialAsync("PartialViews/Forms/_SocialSiteForm", Model)
        </form>
    </div>
</div>

@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}