@model SmellIt.Application.Features.SocialSites.Commands.EditSocialSite.EditSocialSiteCommand

@{
    ViewData["Title"] = language.GetValue("EditSocialSite");
}
<div class="card-content">
    <div class="row">
        <div class="card-title col s12">
            <a class="btn left" asp-controller="SocialSites" asp-action="Index"> <i class="material-icons">arrow_back_ios_new</i></a>
            <p class="right">@language.GetValue("EditSocialSite") @Model.Type</p>
        </div>
        <form asp-action="Edit">
            @await Html.PartialAsync("PartialViews/Forms/_SocialSiteForm", Model)
        </form>
    </div>
</div>
@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}