@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "Change password";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}

<div class="row">
    <div class="col m12">
        <h5 class="center-align">@ViewData["Title"]</h5>
    </div>
</div>
<div class="row">
    <div class="col m8 offset-m2">
        <form id="change-password-form" method="post">
            <div asp-validation-summary="ModelOnly" class="red-text" role="alert"></div>
            <div class="input-field">
                <input id="OldPassword" asp-for="Input.OldPassword" type="password" class="validate" autocomplete="current-password" aria-required="true" placeholder="Please enter your old password." />
                <label for="OldPassword" asp-for="Input.OldPassword"></label>
                <span asp-validation-for="Input.OldPassword" class="red-text"></span>
            </div>
            <div class="input-field">
                <input id="NewPassword" asp-for="Input.NewPassword" type="password" class="validate" autocomplete="new-password" aria-required="true" placeholder="Please enter your new password." />
                <label for="NewPassword" asp-for="Input.NewPassword"></label>
                <span asp-validation-for="Input.NewPassword" class="red-text"></span>
            </div>
            <div class="input-field">
                <input id="ConfirmPassword" asp-for="Input.ConfirmPassword" type="password" class="validate" autocomplete="new-password" aria-required="true" placeholder="Please confirm your new password." />
                <label for="ConfirmPassword" asp-for="Input.ConfirmPassword"></label>
                <span asp-validation-for="Input.ConfirmPassword" class="red-text"></span>
            </div>
            <button type="submit" class="btn waves-effect waves-light">Update password</button>
        </form>

        <partial name="_StatusMessage" for="StatusMessage" />
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
