@page
@model DeletePersonalDataModel
@{
    ViewData["Title"] = "Delete Personal Data";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<div class="row">
    <div class="col m12">
        <h5 class="center-align">@ViewData["Title"]</h5>
    </div>
</div>

<div class="card-panel yellow lighten-2">
    <p>
        <strong>Deleting this data will permanently remove your account, and this cannot be recovered.</strong>
    </p>
</div>

<div class="row">
    <div class="col m8 offset-m2">
        <form id="delete-user" method="post">
            <div asp-validation-summary="ModelOnly" class="red-text" role="alert"></div>
            @if (Model.RequirePassword)
            {
                <div class="input-field">
                    <input id="Password" asp-for="Input.Password" type="password" class="validate" autocomplete="current-password" aria-required="true" placeholder="Please enter your password." />
                    <label for="Password" asp-for="Input.Password"></label>
                    <span asp-validation-for="Input.Password" class="red-text"></span>
                </div>
            }
            <button class="btn red darken-3 waves-effect waves-light" style="width:100%;" type="submit">Delete data and close my account</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}