@page
@model DownloadPersonalDataModel
@{
    ViewData["Title"] = "Download Your Data";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<div class="row">
    <div class="col m12">
        <h5 class="center-align">@ViewData["Title"]</h5>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}