@page
@model EmailModel
@{
    ViewData["Title"] = "Manage Email";
    ViewData["ActivePage"] = ManageNavPages.Email;
}

<div class="row">
    <div class="col m12">
        <h5 class="center-align">@ViewData["Title"]</h5>
    </div>
</div>
<div class="row">
    <div class="col m8 offset-m2">
        <form id="email-form" method="post">
            @if (Model.IsEmailConfirmed)
            {
                <div class="input-field">
                    <input id="Email" asp-for="Email" type="text" class="validate" placeholder="Please enter your email." disabled />
                    <label for="Email" asp-for="Email"></label>
                    <span class="prefix green-text text-darken-2"><i class="material-icons">check</i></span>
                </div>
            }
            else
            {
                <div class="input-field">
                    <input id="Email" asp-for="Email" type="text" class="validate" placeholder="Please enter your email." disabled />
                    <label for="Email" asp-for="Email"></label>
                    <button id="email-verification" type="submit" asp-page-handler="SendVerificationEmail" class="btn waves-effect waves-light">Send verification email</button>
                </div>
            }
            <div class="input-field">
                <input id="NewEmail" asp-for="Input.NewEmail" type="text" class="validate" autocomplete="email" aria-required="true" placeholder="Please enter new email." />
                <label for="NewEmail" asp-for="Input.NewEmail"></label>
                <span asp-validation-for="Input.NewEmail" class="red-text"></span>
            </div>
            <button id="change-email-button" type="submit" asp-page-handler="ChangeEmail" class="btn waves-effect waves-light">Change email</button>
        </form>

        <partial name="_StatusMessage" for="StatusMessage" />
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
