@page
@model SetPasswordModel
@{
    ViewData["Title"] = "Set password";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}

<h4>Set your password</h4>
<partial name="_StatusMessage" for="StatusMessage" />
<p class="blue-text text-darken-2">
    You do not have a local username/password for this site. Add a local
    account so you can log in without an external login.
</p>
<div class="row">
    <div class="col s12 m6">
        <form id="set-password-form" method="post">
            <div asp-validation-summary="ModelOnly" class="red-text" role="alert"></div>
            <div class="input-field">
                <input asp-for="Input.NewPassword" id="new-password" type="password" class="validate" autocomplete="new-password"/>
                <label asp-for="Input.NewPassword"></label>
                <span asp-validation-for="Input.NewPassword" class="red-text"></span>
            </div>
            <div class="input-field">
                <input asp-for="Input.ConfirmPassword" id="confirm-password" type="password" class="validate" autocomplete="new-password"/>
                <label asp-for="Input.ConfirmPassword"></label>
                <span asp-validation-for="Input.ConfirmPassword" class="red-text"></span>
            </div>
            <button type="submit" class="btn waves-effect waves-light blue darken-1">Set password</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}