@page
@using Microsoft.AspNetCore.Http.Features
@model TwoFactorAuthenticationModel
@{
    ViewData["Title"] = "Two-factor authentication (2FA)";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<div class="row">
    <div class="col m12">
        <h5 class="center-align">@ViewData["Title"]</h5>
    </div>
</div>
<div class="row">
    <div class="col m8 offset-m2">
        @{
            var consentFeature = HttpContext.Features.Get<ITrackingConsentFeature>();
            @if (consentFeature?.CanTrack ?? true)
            {
                @if (Model.Is2faEnabled)
                {
                    <partial name="_StatusMessage" for="StatusMessage" />
                    // Show warnings related to recovery codes left
                    <div class="row">
                        <div class="col s12">
                            @* Recovery code alerts *@
                            @if (Model.RecoveryCodesLeft == 0)
                            {
                                <div class="card red darken-1">
                                    <div class="card-content white-text">
                                        <span class="card-title"><strong>You have no recovery codes left.</strong></span>
                                        <p>You must <a asp-page="./GenerateRecoveryCodes">generate a new set of recovery codes</a> before you can log in with a recovery code.</p>
                                    </div>
                                </div>
                            }
                            else if (Model.RecoveryCodesLeft == 1)
                            {
                                <div class="card red darken-1">
                                    <div class="card-content white-text">
                                        <span class="card-title"><strong>You have 1 recovery code left.</strong></span>
                                        <p>You can <a asp-page="./GenerateRecoveryCodes">generate a new set of recovery codes</a>.</p>
                                    </div>
                                </div>
                            }
                            else if (Model.RecoveryCodesLeft <= 3)
                            {
                                <div class="card yellow darken-1">
                                    <div class="card-content white-text">
                                        <span class="card-title"><strong>You have @Model.RecoveryCodesLeft recovery codes left.</strong></span>
                                        <p>You should <a asp-page="./GenerateRecoveryCodes">generate a new set of recovery codes</a>.</p>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>

                    <div class="row">
                        <div class="col s12">
                            <form method="post" style="display: inline-block">
                                <button type="submit" class="btn waves-effect waves-light">Forget this browser</button>
                            </form>
                            <a asp-page="./Disable2fa" class="btn waves-effect waves-light">Disable 2FA</a>
                            <a asp-page="./GenerateRecoveryCodes" class="btn waves-effect waves-light">Reset recovery codes</a>
                        </div>
                    </div>
                }

                <h4>Authenticator app</h4>
                <div class="row">
                    <div class="col s12">
                        @if (!Model.HasAuthenticator)
                        {
                            <a id="enable-authenticator" asp-page="./EnableAuthenticator" class="btn waves-effect waves-light">Add authenticator app</a>
                        }
                        else
                        {
                            <a id="enable-authenticator" asp-page="./EnableAuthenticator" class="btn waves-effect waves-light">Set up authenticator app</a>
                            <a id="reset-authenticator" asp-page="./ResetAuthenticator" class="btn waves-effect waves-light">Reset authenticator app</a>
                        }
                    </div>
                </div>
            }
            else
            {
                <div class="card red darken-1">
                    <div class="card-content white-text">
                        <span class="card-title"><strong>Privacy and cookie policy have not been accepted.</strong></span>
                        <p>You must accept the policy before you can enable two factor authentication.</p>
                    </div>
                </div>
            }
        }
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
