@using Microsoft.AspNetCore.Mvc.TagHelpers
@model IEnumerable<SmellIt.Application.Features.Genders.DTOs.WebsiteGenderDto>
@{
    var genders = Model.OrderBy(m => m.Name).Select(m => new { Name = m.Name, EncodedName = m.EncodedName });
    var queryString = Context.Request.Query;

    var routeValues = new Dictionary<string, string>();
    foreach (var key in queryString.Keys)
    {
        if (key != "gender")
        {
            routeValues[key] = queryString[key];
        }
    }
}
<li><a asp-all-route-data="routeValues">@await WebsiteTexts.GetValueAsync("All")</a></li>
@foreach (var gender in genders)
{
    routeValues["gender"] = gender.EncodedName;
    if (queryString.ContainsKey("gender") && queryString["gender"] == gender.EncodedName)
    {
        <li><strong><a asp-all-route-data="routeValues">@gender.Name</a></strong></li>
    }
    else
    {
        <li><a asp-all-route-data="routeValues">@gender.Name</a></li>
    }
}