@using Microsoft.AspNetCore.Mvc.TagHelpers
@model IEnumerable<SmellIt.Application.Features.Products.DTOs.WebsiteProductDto>
@{
    ViewData["Title"] = await WebsiteTexts.GetValueAsync("Products");
    var stringQuery = Context.Request.Query.Keys;
}


<section class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="content">
                    <h1 class="page-name">@await WebsiteTexts.GetValueAsync("Products")</h1>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="products section">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="widget">
                    <h4 class="widget-title">@await WebsiteTexts.GetValueAsync("SortBy")</h4>
                    @await Html.PartialAsync("SortTypes")
                </div>
                <div class="widget product-category">
                    <h4 class="widget-title">@await WebsiteTexts.GetValueAsync("Filters")</h4>
                    <div class="panel-group commonAccordion" id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingOne">
                                <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                        @await WebsiteTexts.GetValueAsync("Gender")
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse @(stringQuery.Contains("gender") ? "in":"")" role="tabpanel" aria-labelledby="headingOne">
                                <div class="panel-body">
                                    <ul>
                                        @await Component.InvokeAsync("Genders")
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingTwo">
                                <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        @await WebsiteTexts.GetValueAsync("Brand")
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseTwo" class="panel-collapse collapse @(stringQuery.Contains("brand") ? "in":"")" role="tabpanel" aria-labelledby="headingTwo">
                                <div class="panel-body">
                                    <ul>
                                        @await Component.InvokeAsync("Brands")
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingThree">
                                <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                        @await WebsiteTexts.GetValueAsync("FragranceCategory")
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseThree" class="panel-collapse collapse @(stringQuery.Contains("fragrance_category") ? "in":"")" role="tabpanel" aria-labelledby="headingThree">
                                <div class="panel-body">
                                    <ul>
                                        @await Component.InvokeAsync("FragranceCategories")
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a class="btn btn-main btn-medium center-align" asp-all-route-data="null">@await WebsiteTexts.GetValueAsync("ClearAll")</a>
                </div>
            </div>
            <div class="col-md-9">
                <div class="row">
                    @await Html.PartialAsync("Products", Model)
                </div>
            </div>

        </div>
    </div>
</section>