@model SmellIt.Application.Features.FragranceCategories.Commands.EditFragranceCategory.EditFragranceCategoryCommand

@{
    ViewData["Title"] = @WebsiteTexts.GetValue("EditFragranceCategory");
}

<div class="card-content">
    <div class="row">
        <div class="card-title col s12">
            <a class="btn left" asp-controller="FragranceCategories" asp-action="Index"> <i class="material-icons">arrow_back_ios_new</i></a>
            <p class="right">@WebsiteTexts.GetValue("EditFragranceCategory")</p>
        </div>
        <form asp-action="Edit">
            @await Html.PartialAsync("PartialViews/Forms/_FragranceCategoryForm", Model)
        </form>
    </div>
</div>

@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}