<!DOCTYPE html>
<html lang="pl">
<head>
    <partial name="PartialViews/LayoutParts/_Header" />
</head>

<body id="body">
    <section class="signin-page account">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <div class="block text-center">
                        <a class="logo" asp-controller="Home" asp-action="Index">
                            <img src="~/images/logo.png" alt="logo-smell-it">
                        </a>
                        @RenderBody()
                    </div>
                </div>
            </div>
        </div>
    </section>

    <partial name="PartialViews/LayoutParts/_Scripts" />
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
