<!DOCTYPE html>
<html>

<head>
    @await Html.PartialAsync("PartialViews/LayoutParts/_Header")
</head>

<body class="grey darken-2">
    @await Html.PartialAsync("PartialViews/LayoutParts/_Navigation")

    <main class="section">
        @RenderBody()
    </main>

    @await Html.PartialAsync("PartialViews/LayoutParts/_Footer")

    @await Html.PartialAsync("PartialViews/LayoutParts/_Scripts")

    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>