<!DOCTYPE html>
<html>

<head>
    @await Html.PartialAsync("PartialViews/LayoutParts/_Header")
</head>

<body class="grey darken-2">
    @await Html.PartialAsync("PartialViews/LayoutParts/_Navigation")

    <main class="section">
        <div class="container">
            <div class="row">
                <div class="col s12">
                    <div class="card grey darken-3 white-text">
                        @RenderBody()
                    </div>
                </div>
            </div>
        </div>
    </main>

    @await Html.PartialAsync("PartialViews/LayoutParts/_Footer")

    @await Html.PartialAsync("PartialViews/LayoutParts/_Scripts")

    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>