<!DOCTYPE html>
<html>

<head>
    @await Html.PartialAsync("PartialViews/LayoutParts/_Header")
</head>

<body class="grey darken-2">
    <div class="navbar-fixed">
        <nav class="grey darken-4">
            <div class="nav-wrapper">
                <a href="@Url.Action("Index", "Home")" class="brand-logo center"><img src="~/images/logo.png" /></a>
                <ul class="right hide-on-med-and-down">
                    <li>
                        <a class="dropdown-trigger" href="#" data-target="languageDropdown">@WebsiteTexts.GetValue("Language")<i class="material-icons right">arrow_drop_down</i></a>
                        <ul id="languageDropdown" class="dropdown-content grey darken-2">
                            <li>
                                <a asp-controller="Home" asp-action="ChangeLanguage" asp-route-culture="pl-PL" class="white-text"> Polski</a>
                            </li>
                            <li>
                                <a asp-controller="Home" asp-action="ChangeLanguage" asp-route-culture="en-GB" class="white-text"> English</a>
                            </li>
                        </ul>
                    </li>

                </ul>
            </div>
        </nav>
    </div>

    <main class="section">
        <section class="section section-login">
            <div class="container">
                <div class="row">
                    @RenderBody()
                </div>
            </div>
        </section>
    </main>

    @await Html.PartialAsync("PartialViews/LayoutParts/_Footer")

    @await Html.PartialAsync("PartialViews/LayoutParts/_Scripts")

    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>