@using Microsoft.AspNetCore.Localization
@model IEnumerable<SmellIt.Application.SmellIt.HomeBanners.HomeBannerDto>
@{
    var requestCulture = Context.Request.HttpContext.Features.Get<IRequestCultureFeature>()!;
    var currentCulture = requestCulture.RequestCulture.Culture.ToString();
}
@foreach (var item in Model)
{
    <div class="slider-item th-fullpage hero-area" style="background-image: url(@item.ImagePath);">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 text-center">
                    <h1 data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".5">@(currentCulture == "pl-PL" ? item.TextPl : item.TextEn)</h1>
                    <a data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".8" class="btn" href="@Url.Action("Products", "Home")">@WebsiteTexts.GetValue("SeeNow")</a>
                </div>
            </div>
        </div>
    </div>
}