<!-- _ReturnToLoginPartial.cshtml -->
<div class="text-center mt-20">
    <a asp-page="./Login">Go to Login Page</a>
</div>
<p class="mt-20">
    No account yet? 
    <a asp-page="./Register">Register</a>
</p>