@page
@model AccessDeniedModel

@{
    ViewData["Title"] = "Access Denied";
    Layout = "/Views/Shared/_LayoutForLogin.cshtml";
}

<h2 class="text-center">@ViewData["Title"]</h2>
<div class="text-left clearfix">
    <div class="alert alert-danger" role="alert">
        <p class="text-center">You do not have access to this resource.</p>
    </div>
    <partial name="_ReturnToLoginPartial" />
</div>