@page
@model ConfirmEmailChangeModel

@{
    ViewData["Title"] = "Confirm Email Change";
    Layout = "/Views/Shared/_LayoutForLogin.cshtml";
}

<h2 class="text-center">@ViewData["Title"]</h2>
<div class="text-left clearfix">
    <div class="text-center">
        <partial name="_StatusMessage" model="Model.StatusMessage" />
    </div>
    <partial name="_ReturnToLoginPartial" />
</div>