@page
@model ExternalLoginModel
@{
    ViewData["Title"] = "Register";
    Layout = "/Views/Shared/_LayoutForLogin.cshtml";
}

<h2 class="text-center">@ViewData["Title"]</h2>

<p class="text-center text-info">
    You've successfully authenticated with <strong>@Model.ProviderDisplayName</strong>.
    Please enter an email address for this site below and click the Register button to finish logging in.
</p>

<form class="text-left clearfix" asp-page-handler="Confirmation" asp-route-returnUrl="@Model.ReturnUrl" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
    <div class="form-group">
        <input asp-for="Input.Email" class="form-control" autocomplete="email" placeholder="Email" />
        <span asp-validation-for="Input.Email" class="text-danger"></span>
    </div>
    <div class="text-center">
        <button type="submit" class="btn btn-main text-center">Register</button>
    </div>
</form>

<partial name="_ReturnToLoginPartial" />

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}