@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = await WebsiteTexts.GetValueAsync("ForgotYourPassword");
    Layout = "/Views/Shared/_LayoutForLogin.cshtml";
}

<h2 class="text-center">@ViewData["Title"]</h2>
<form class="text-left clearfix" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
    <div class="form-group">
        <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="Email" />
        <span asp-validation-for="Input.Email" class="text-danger"></span>
    </div>
    <div class="text-center">
        <button type="submit" class="btn btn-main text-center">@await WebsiteTexts.GetValueAsync("ResetPassword")</button>
    </div>
</form>

<partial name="_ReturnToLoginPartial" />

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
