@page
@model LockoutModel
@{
    ViewData["Title"] = "Locked out";
    Layout = "/Views/Shared/_LayoutForLogin.cshtml";
}

<h2 class="text-center">@ViewData["Title"]</h2>
<p class="text-center text-danger">
    This account has been locked out, please try again later.
</p>

<partial name="_ReturnToLoginPartial" />