@page
@model LoginWithRecoveryCodeModel
@{
    ViewData["Title"] = "Recovery code verification";
    Layout = "/Views/Shared/_LayoutForLogin.cshtml";
}

<h2 class="text-center">@ViewData["Title"]</h2>
<p class="text-center">
    You have requested to log in with a recovery code. This login will not be remembered until you provide
    an authenticator app code at log in or disable 2FA and log in again.
</p>
<form class="text-left clearfix" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
    <div class="form-group">
        <input asp-for="Input.RecoveryCode" class="form-control" autocomplete="off" placeholder="RecoveryCode" />
        <span asp-validation-for="Input.RecoveryCode" class="text-danger"></span>
    </div>
    <div class="text-center">
        <button type="submit" class="btn btn-main text-center">Log in</button>
    </div>
</form>

<partial name="_ReturnToLoginPartial" />

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}