@page
@model LoginModel

@{
    ViewData["Title"] = await WebsiteTexts.GetValueAsync("WelcomeBack");
    Layout = "/Views/Shared/_LayoutForLogin.cshtml";
}

<h2 class="text-center">@ViewData["Title"]</h2>
<form class="text-left clearfix" id="account" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
    <div class="form-group">
        <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="Email" />
        <span asp-validation-for="Input.Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="@await WebsiteTexts.GetValueAsync("Password")" />
        <span asp-validation-for="Input.Password" class="text-danger"></span>
    </div>
    <div class="text-center">
        <button id="login-submit" type="submit" class="btn btn-main text-center">@await WebsiteTexts.GetValueAsync("SignIn")</button>
    </div>
    <div class="text-center mt-20">
        <a id="forgot-password" asp-page="./ForgotPassword">@await WebsiteTexts.GetValueAsync("ForgotYourPassword")</a>
    </div>
</form>
<p class="mt-20">
    @await WebsiteTexts.GetValueAsync("NoAccountYet")
    <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">@await WebsiteTexts.GetValueAsync("Register")</a>
</p>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
