@page
@model RegisterModel
@{
    ViewData["Title"] = await WebsiteTexts.GetValueAsync("Register");
    Layout = "/Views/Shared/_LayoutForLogin.cshtml";
}

<h2 class="text-center">@ViewData["Title"]</h2>

<form class="text-left clearfix" id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
    <div class="form-group">
        <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="Email" />
        <span asp-validation-for="Input.Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="@await WebsiteTexts.GetValueAsync("Password")" />
        <span asp-validation-for="Input.Password" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="@await WebsiteTexts.GetValueAsync("ConfirmPassword")" />
        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
    </div>
    <div class="text-center">
        <button id="registerSubmit" type="submit" class="btn btn-main text-center">@await WebsiteTexts.GetValueAsync("Register")</button>
    </div>
</form>
<p class="mt-20">
    @await WebsiteTexts.GetValueAsync("AlreadyHaveAnAccount")
    <a asp-page="./Login" asp-route-returnUrl="@Model.ReturnUrl">@await WebsiteTexts.GetValueAsync("SignIn")</a>
</p>
<p>
    <a asp-page="./ForgotPassword">@await WebsiteTexts.GetValueAsync("ForgotYourPassword")</a>
</p>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
