@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
    Layout = "/Views/Shared/_LayoutForLogin.cshtml";
}

<h2 class="text-center">@ViewData["Title"]</h2>
<div class="text-center">
    <p>Your password has been reset.</p>
    <partial name="_ReturnToLoginPartial" />
</div>