@{
    ViewData["Title"] = await WebsiteTexts.GetValueAsync("Home");
}

<div class="hero-slider">
    @await Component.InvokeAsync("Banners")
</div>


<section class="products section bg-gray">
	<div class="container">
		<div class="row">
			<div class="title text-center">
				<h2>@await WebsiteTexts.GetValueAsync("PopularProducts")</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 col-sm-4 col-xs-6">
				<div class="product-item">
					<div class="product-thumb">
						<img class="img-responsive" src="~/images/shop/products/smell-it/dyfuzor-smell-it1.jpg" alt="product-img" />
						<div class="preview-meta">
							<ul>
								<li>
									<span data-toggle="modal" data-target="#product-modal">
										<i class="tf-ion-ios-search-strong"></i>
									</span>
								</li>
								<li>
									<a href="#"><i class="tf-ion-ios-heart"></i></a>
								</li>
								<li>
									<a href="#"><i class="tf-ion-android-cart"></i></a>
								</li>
							</ul>
						</div>
					</div>
					<div class="product-content">
						<h4><a href="#">Smell It Diffuser</a></h4>
						<p class="price">799 zł</p>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-sm-4 col-xs-6">
				<div class="product-item">
					<div class="product-thumb">
						<img class="img-responsive" src="~/images/shop/products/perfumes/women/Giorgio Armani Si/armani-si1.png" alt="product-img" />
						<div class="preview-meta">
							<ul>
								<li>
									<span data-toggle="modal" data-target="#product-modal">
										<i class="tf-ion-ios-search-strong"></i>
									</span>
								</li>
								<li>
									<a href="#"><i class="tf-ion-ios-heart"></i></a>
								</li>
								<li>
									<a href="#!"><i class="tf-ion-android-cart"></i></a>
								</li>
							</ul>
						</div>
					</div>
					<div class="product-content">
						<h4><a href="#">Armani Si</a></h4>
						<p class="price">342 zł</p>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-sm-4 col-xs-6">
				<div class="product-item">
					<div class="product-thumb">
						<img class="img-responsive" src="~/images/shop/products/perfumes/men/Dior Savuage/dior-savuage1.png" alt="product-img" />
						<div class="preview-meta">
							<ul>
								<li>
									<span data-toggle="modal" data-target="#product-modal">
										<i class="tf-ion-ios-search-strong"></i>
									</span>
								</li>
								<li>
									<a href="#"><i class="tf-ion-ios-heart"></i></a>
								</li>
								<li>
									<a href="#!"><i class="tf-ion-android-cart"></i></a>
								</li>
							</ul>
						</div>
					</div>
					<div class="product-content">
						<h4><a href="#">Dior Savuage</a></h4>
						<p class="price">502 zł</p>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-sm-4 col-xs-6">
				<div class="product-item">
					<div class="product-thumb">
						<img class="img-responsive" src="~/images/shop/products/perfumes/women/YSL Black Opium/ysl-black-opium1.png" alt="product-img" />
						<div class="preview-meta">
							<ul>
								<li>
									<span data-toggle="modal" data-target="#product-modal">
										<i class="tf-ion-ios-search-strong"></i>
									</span>
								</li>
								<li>
									<a href="#"><i class="tf-ion-ios-heart"></i></a>
								</li>
								<li>
									<a href="#!"><i class="tf-ion-android-cart"></i></a>
								</li>
							</ul>
						</div>
					</div>
					<div class="product-content">
						<h4><a href="#">YSL Black Opium</a></h4>
						<p class="price">448 zł</p>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-sm-4 col-xs-6">
				<div class="product-item">
					<div class="product-thumb">
						<img class="img-responsive" src="~/images/shop/products/perfumes/women/Carolina Herrera Good Girl/ch-good-girl1.png" alt="product-img" />
						<div class="preview-meta">
							<ul>
								<li>
									<span data-toggle="modal" data-target="#product-modal">
										<i class="tf-ion-ios-search-strong"></i>
									</span>
								</li>
								<li>
									<a href="#"><i class="tf-ion-ios-heart"></i></a>
								</li>
								<li>
									<a href="#!"><i class="tf-ion-android-cart"></i></a>
								</li>
							</ul>
						</div>
					</div>
					<div class="product-content">
						<h4><a href="#">Carolina Herrera Good Girl</a></h4>
						<p class="price">600 zł</p>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-sm-4 col-xs-6">
				<div class="product-item">
					<div class="product-thumb">
						<img class="img-responsive" src="~/images/shop/products/perfumes/men/Paco Rabanne 1 Million/pr-1million1.png" alt="product-img" />
						<div class="preview-meta">
							<ul>
								<li>
									<span data-toggle="modal" data-target="#product-modal">
										<i class="tf-ion-ios-search-strong"></i>
									</span>
								</li>
								<li>
									<a href="#"><i class="tf-ion-ios-heart"></i></a>
								</li>
								<li>
									<a href="#!"><i class="tf-ion-android-cart"></i></a>
								</li>
							</ul>
						</div>
					</div>
					<div class="product-content">
						<h4><a href="product-single.html">Paco Rabanne 1Million</a></h4>
						<p class="price">360 zł</p>
					</div>
				</div>
			</div>

			@*<div class="modal product-modal fade" id="product-modal">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<i class="tf-ion-close"></i>
				</button>
				<div class="modal-dialog " role="document">
					<div class="modal-content">
						<div class="modal-body">
							<div class="row">
								<div class="col-md-8 col-sm-6 col-xs-12">
									<div class="modal-image">
										<img class="img-responsive" src="~/images/shop/products/smell-it/dyfuzor-smell-it1.jpg" alt="product-img" />
									</div>
								</div>
								<div class="col-md-4 col-sm-6 col-xs-12">
									<div class="product-short-details">
										<h2 class="product-title">@Language.GetValue("SmellItDiffuser")</h2>
										<p class="product-price">799 zł</p>
										<p class="product-short-description">
                                            @Language.GetValue("SmellItDiffuserDesc")
                                            </p>
										<a href="cart.html" class="btn btn-main">@Language.GetValue("AddToCart")</a>
										<a href="product-single.html" class="btn btn-transparent">@Language.GetValue("ViewProductDetails")</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>*@
		</div>
	</div>
</section>
