@{
    ViewData["Title"] = await WebsiteTexts.GetValueAsync("Home");
}

<div class="hero-slider">
    @await Component.InvokeAsync("Banners")
</div>


<section class="products section bg-gray">
    <div class="container">
        <div class="row">
            <div class="title text-center">
                <h2>@await WebsiteTexts.GetValueAsync("PopularProducts")</h2>
            </div>
        </div>
        <div class="row">
            @await Component.InvokeAsync("MostPopularProducts")
        </div>
    </div>
</section>
