@inject LanguageService Language
@model SmellIt.Application.SmellIt.PrivacyPolicies.PrivacyPolicyDto
@{
    ViewData["Title"] = @WebsiteTexts.GetValue("PrivacyPolicy");
}
<style>
    .dots li:before {
        content: "\2022";
        margin-left: 10px;
        margin-right: 10px;
    }
    .dots li {
        font-family: "Poppins", sans-serif;
        color: #757575;
        font-size: 15px;
    }
</style>
<div class="container">
    <div class="row">
        <div class="dots col-sm-12">
            <h2 class="text-center">@WebsiteTexts.GetValue("PrivacyTitle")</h2>
            @Html.Raw(Model.Text)
        </div>
    </div>
</div>