@model SmellIt.Application.Features.PrivacyPolicies.DTOs.PrivacyPolicyDto
@{
    ViewData["Title"] = await WebsiteTexts.GetValueAsync("PrivacyPolicy");
}
<style>
    .dots li:before {
        content: "\2022";
        margin-left: 10px;
        margin-right: 10px;
    }
    .dots li {
        font-family: "Poppins", sans-serif;
        color: #757575;
        font-size: 15px;
    }
</style>
<section class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="content">
                    <h1 class="page-name">@await WebsiteTexts.GetValueAsync("PrivacyTitle")</h1>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="container">
    <div class="row">
        <div class="dots col-sm-12">
            @Html.Raw(Model.Text)
        </div>
    </div>
</div>