@using Microsoft.AspNetCore.Mvc.TagHelpers
@model SmellIt.Application.Features.PrivacyPolicies.Commands.CreatePrivacyPolicy.CreatePrivacyPolicyCommand
@{
    ViewData["Title"] =WebsiteTexts.GetValue("AddNewPrivacyPolicy");
}
<script src="~/lib/tinymce/tinymce.js"></script>
<script>
    tinymce.init({
        selector: 'textarea#privacy-policy',
        skin: "oxide-dark",
        plugins: 'a11ychecker advcode advlist advtable anchor autocorrect autosave editimage image link linkchecker lists media mediaembed pageembed powerpaste searchreplace table template tinymcespellchecker typography visualblocks wordcount',
        toolbar: 'undo redo | styles | bold italic underline strikethrough | align | table link image media pageembed | bullist numlist outdent indent | spellcheckdialog a11ycheck typography code',
        lists_indent_on_tab: false
    });
</script>
<div class="card-content">
    <div class="row">
        <div class="card-title col s12">
            <a class="btn left" asp-controller="PrivacyPolicies" asp-action="Index"> <i class="material-icons">arrow_back_ios_new</i></a>
            <p class="right">@WebsiteTexts.GetValue("AddNewPrivacyPolicy")</p>
        </div>
        <form asp-action="Create">
            <div class="input-field col s12">
                <select id="languages" asp-for="LanguageCode" asp-items="ViewBag.Languages"></select>
            </div>
            @await Html.PartialAsync("PartialViews/Forms/_PrivacyPolicyForm", Model)
        </form>
    </div>
</div>
@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}