@model SmellIt.Application.SmellIt.PrivacyPolicies.Commands.EditPrivacyPolicy.EditPrivacyPolicyCommand

@{
    ViewData["Title"] = language.GetValue("EditPrivacyPolicy");
}
<script src="~/lib/tinymce/tinymce.js"></script>
<script>
    tinymce.init({
        selector: 'textarea#privacy-policy',
        skin: "oxide-dark"
    });</script>
<div class="container">
    <div class="row">
        <div class="col s12">
            <div class="card grey darken-3 white-text">
                <div class="card-content">
                    <div class="row">
                        <div class="card-title col s12">
                            <a class="btn left" asp-controller="PrivacyPolicies" asp-action="Index"> <i class="material-icons">arrow_back_ios_new</i></a>
                            <p class="right">@language.GetValue("EditPrivacyPolicy") @Model.EncodedName</p>
                        </div>
                        <form asp-action="Edit">
                            <div asp-validation-summary="ModelOnly" class="helper-text"></div>
                            <div class="input-field col s12">
                                <textarea id="privacy-policy" asp-for="Text"></textarea>
                                <span asp-validation-for="Text" class="helper-text"></span>
                            </div>
                            <input type="submit" value="@language.GetValue("Save")" class="btn right" />
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}