@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
    Layout = "/Views/Shared/_LayoutIfLoggedOut.cshtml";
}

<div class="col s12 m8 offset-m2 l6 offset-l3">
    <div class="card-panel grey darken-3 white-text center">
        <h4>@ViewData["Title"]</h4>

        <form method="post">
            <div asp-validation-summary="ModelOnly" class="red-text text-darken-2"></div>
            <div class="input-field">
                <input asp-for="Input.Email" id="Input_Email" type="email" class="validate" />
                <label class="white-text" for="Input_Email">Email</label>
                <span asp-validation-for="Input.Email" class="helper-text" data-error="Invalid Email"></span>
            </div>
            <button type="submit" class="btn btn-large waves-effect">Reset Password</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}