@page
@model LoginWith2faModel
@{
    ViewData["Title"] = "Two-factor authentication";
    Layout = "/Views/Shared/_LayoutIfLoggedOut.cshtml";
}

<div class="col s12 m8 offset-m2 l6 offset-l3">
    <div class="card-panel grey darken-3 white-text center">
        <h4>@ViewData["Title"]</h4>
        <p>Your login is protected with an authenticator app. Enter your authenticator code below.</p>
        <form method="post" asp-route-returnUrl="@Model.ReturnUrl">
            <input asp-for="RememberMe" type="hidden" />
            <div asp-validation-summary="ModelOnly" class="red-text text-darken-2"></div>
            <div class="input-field">
                <input asp-for="Input.TwoFactorCode" id="TwoFactorCode" type="text" class="validate white-text" autocomplete="off" />
                <label class="white-text" for="TwoFactorCode">Two Factor Code</label>
                <span asp-validation-for="Input.TwoFactorCode" class="helper-text" data-error="Invalid Code"></span>
            </div>
            <label>
                <input type="checkbox" asp-for="Input.RememberMachine" />
                <span>@Html.DisplayNameFor(m => m.Input.RememberMachine)</span>
            </label>
            <input id="login-submit"
                   class="btn btn-large waves-effect"
                   value="Login"
                   type="submit" />
        </form>
        <p>
            Don't have access to your authenticator device? You can
            <a id="recovery-code-login" asp-page="./LoginWithRecoveryCode" asp-route-returnUrl="@Model.ReturnUrl" class="white-text">log in with a recovery code</a>.
        </p>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}