@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
    Layout = "/Views/Shared/_LayoutIfLoggedOut.cshtml";
}

<div class="col s12 m8 offset-m2 l6 offset-l3">
    <div class="card-panel login grey darken-3 white-text center">
        <h2>@ViewData["Title"]</h2>
        <form id="account" method="post">
            <div asp-validation-summary="ModelOnly" class="red-text text-darken-2"></div>
            <div class="input-field">
                <i class="material-icons prefix">email</i>
                <input asp-for="Input.Email" id="Input_Email" type="email" class="validate" />
                <label class="white-text" for="Input_Email">Email</label>
                <span asp-validation-for="Input.Email" class="helper-text" data-error="Invalid Email"></span>
            </div>
            <div class="input-field">
                <i class="material-icons prefix">lock</i>
                <input asp-for="Input.Password" id="Input_Password" type="password" class="validate" />
                <label class="white-text" for="Input_Password">Password</label>
                <span asp-validation-for="Input.Password" class="helper-text" data-error="Invalid Password"></span>
            </div>
            <label>
                <input type="checkbox" asp-for="Input.RememberMe" />
                <span>@Html.DisplayNameFor(m => m.Input.RememberMe)</span>
            </label>
            <input id="login-submit"
                   class="btn btn-large waves-effect"
                   value="Login"
                   type="submit" />
        </form>
        <div>
            <p>
                <a id="forgot-password" asp-page="./ForgotPassword" class="white-text">Forgot your password?</a>
            </p>
            <p>
                <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl" class="white-text">Register as a new user</a>
            </p>
            <p>
                <a id="resend-confirmation" asp-page="./ResendEmailConfirmation" class="white-text">Resend email confirmation</a>
            </p>
        </div>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
