@page
@model LoginWithRecoveryCodeModel
@{
    ViewData["Title"] = "Recovery code verification";
    Layout = "/Views/Shared/_LayoutIfLoggedOut.cshtml";
}

<div class="col s12 m8 offset-m2 l6 offset-l3">
    <div class="card-panel grey darken-3 white-text center">
        <h4>@ViewData["Title"]</h4>
        <p>
            You have requested to log in with a recovery code. This login will not be remembered until you provide
            an authenticator app code at log in or disable 2FA and log in again.
        </p>
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="red-text text-darken-2"></div>
            <div class="input-field">
                <input asp-for="Input.RecoveryCode" id="RecoveryCode" type="text" class="validate white-text" autocomplete="off" />
                <label class="white-text" for="RecoveryCode">Recovery Code</label>
                <span asp-validation-for="Input.RecoveryCode" class="helper-text" data-error="Invalid Code"></span>
            </div>
            <input id="login-submit"
                   class="btn btn-large waves-effect"
                   value="Login"
                   type="submit" />
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}