@page
@model LogoutModel
@{
    ViewData["Title"] = "Log out";
    Layout = "/Views/Shared/_LayoutIfLoggedOut.cshtml";
}

<div class="col s12 m8 offset-m2 l6 offset-l3">
    <div class="card-panel grey darken-3 white-text center">
        <h4>@ViewData["Title"]</h4>
        @{
            if (User.Identity?.IsAuthenticated ?? false)
            {
                <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                    <input id="logout-submit"
                           class="btn btn-large waves-effect"
                           value="Click here to Logout"
                           type="submit" />
                </form>
            }
            else
            {
                <p>You have successfully logged out of the application.</p>
            }
        }
    </div>
</div>