@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
    Layout = "/Views/Shared/_LayoutIfLoggedOut.cshtml";
}

<div class="col s12 m8 offset-m2 l6 offset-l3">
    <div class="card-panel grey darken-3 white-text center">
        <h4>@ViewData["Title"]</h4>
        <p>
            Your password has been reset. Please <a asp-page="./Login" class="waves-effect waves-light btn">click here to log in</a>.
        </p>
    </div>
</div>