@page
@model ResetPasswordModel
@{
    ViewData["Title"] = "Reset password";
    Layout = "/Views/Shared/_LayoutIfLoggedOut.cshtml";
}

<div class="col s12 m8 offset-m2 l6 offset-l3">
    <div class="card-panel grey darken-3 white-text center">
        <h4>@ViewData["Title"]</h4>
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="red-text" role="alert"></div>
            <input asp-for="Input.Code" type="hidden" />
            <div class="input-field">
                <input asp-for="Input.Email" id="email" type="email" class="validate" autocomplete="username" aria-required="true"/>
                <label asp-for="Input.Email"></label>
                <span asp-validation-for="Input.Email" class="red-text"></span>
            </div>
            <div class="input-field">
                <input asp-for="Input.Password" id="password" type="password" class="validate" autocomplete="new-password" aria-required="true"/>
                <label asp-for="Input.Password"></label>
                <span asp-validation-for="Input.Password" class="red-text"></span>
            </div>
            <div class="input-field">
                <input asp-for="Input.ConfirmPassword" id="confirm_password" type="password" class="validate" autocomplete="new-password" aria-required="true"/>
                <label asp-for="Input.ConfirmPassword"></label>
                <span asp-validation-for="Input.ConfirmPassword" class="red-text"></span>
            </div>
            <button type="submit" class="btn waves-effect waves-light">Reset</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}