@page
@model ResendEmailConfirmationModel
@{
    ViewData["Title"] = "Resend email confirmation";
    Layout = "/Views/Shared/_LayoutIfLoggedOut.cshtml";
}

<div class="col s12 m8 offset-m2 l6 offset-l3">
    <div class="card-panel grey darken-3 white-text center">
        <h4>@ViewData["Title"]</h4>
        <form method="post">
            <div asp-validation-summary="All" class="red-text" role="alert"></div>
            <div class="input-field">
                <input asp-for="Input.Email" id="email" type="email" class="validate" aria-required="true"/>
                <label asp-for="Input.Email"></label>
                <span asp-validation-for="Input.Email" class="red-text"></span>
            </div>
            <button type="submit" class="btn waves-effect waves-light">Resend</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}