@model SmellIt.Application.Features.HomeBanners.Commands.CreateHomeBanner.CreateHomeBannerCommand
@{
    ViewData["Title"] =WebsiteTexts.GetValue("AddNewHomeBanner");
}
<div class="card-content">
    <div class="row">
        <div class="card-title col s12">
            <a class="btn left" asp-controller="HomeBanners" asp-action="Index"> <i class="material-icons">arrow_back_ios_new</i></a>
            <p class="right">@WebsiteTexts.GetValue("AddNewHomeBanner")</p>
        </div>
        <form asp-action="Create" enctype="multipart/form-data">
            <div class="input-field col s12">
                <label asp-for="Key">@WebsiteTexts.GetValue("Key")</label>
                <textarea class="materialize-textarea" asp-for="Key"></textarea>
                <span asp-validation-for="Key" class="helper-text"></span>
            </div>
            <div class="file-field input-field col s12">
                <div class="btn">
                    <span>@WebsiteTexts.GetValue("Files")</span>
                    <input type="file" multiple asp-for="ImageFile" accept="image/png, image/jpeg">
                </div>
                <div class="file-path-wrapper">
                    <input class="file-path validate" type="text" placeholder="@WebsiteTexts.GetValue("UploadPhotos")">
                </div>
            </div>
            @await Html.PartialAsync("PartialViews/Forms/_HomeBannerForm", Model)
        </form>
    </div>
</div>
@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}